fastapi==0.139.0
httpx==0.28.1
json-repair==0.61.2
psycopg[binary]==3.3.4
python-dotenv==1.2.2
requests==2.34.2
streamlit==1.59.1
teradataml==20.0.0.11
teradatasql==20.0.0.62
uvicorn==0.51.0
watchdog==6.0.0
